# 함수형식

In [1]:
#1
def 함수_이름(매개변수):
    수행할_문장1
    수행할_문장2
    ...

In [2]:
#2
def add(a, b): 
    result = a + b 
    return result

In [3]:
def minus(a,b):
    calc = a-b
    return calc

In [4]:
minus(10,2)

8

In [5]:
def multi(a,b):
    calc = a * b
    return calc

In [6]:
multi(2,3)

6

In [7]:
#입력값이 없는 함수
def say():
    return 'Hi'

In [8]:
def add2(a,b):
    calc = a + b
    print("%d, %d의 합은 %d입니다." % (a, b, calc))
    return calc   #return을 쓰면 pri nt(d) 결과가 제대로 나오고, 안 쓰면 none으로 결과가 나옴.
# 요렇게 한 번 지정해두면 add2(m,n)만 입력하면 print()에 저장한 포맷으로 값이 계속 나옴.

In [9]:
add2(3,4)

3, 4의 합은 7입니다.

7

In [10]:
d = add2(3,4)

3, 4의 합은 7입니다.

In [11]:
print(d)

7

In [12]:
def add_and_mul (a,b):
    return a+b, a*b

In [13]:
add_and_mul(3,4)

(7, 12)

In [14]:
# 함수 : 어떤 숫자를 받아 값을 리턴하는 것.
#     그래서 리턴값이 두개면 첫번째것만 리턴해줌.

In [15]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d 살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [18]:
say_myself('홍길동', 24, True)
# True를 안 넣어도 '남자입니다.' 까지 나오긴 함.
# 디폴트값(man=True)까지 지정해주어서 그런대.

나의 이름은 홍길동 입니다.
나이는 24 살입니다.
남자입니다.

In [20]:
say_myself('심청', 24, False)
# 뒤에 false 값이라고 넣어주면 디폴트값 무시하고 결과 출력.

나의 이름은 심청 입니다.
나이는 24 살입니다.
여자입니다.

In [21]:
# 초깃값이 없는 매개변수(age)는 초깃값이 있는 매개변수(man) 뒤에 사용할 수 없다
# 즉, 매개변수로 (name, age, man=True)는 되지만, (name, man=True, age)는 안 된다는 것이다
# 초기화하고 싶은 매개변수는 항상 뒤쪽에 놓아야 한다는 것을 잊지 말자.

<h1> 전역변수 vs 지역변수 </h1>

In [33]:
a = 1
def vartest(a):
    return a + 1
# 함수에서 print는 곧 return!!!

vartest(a)

2

In [ ]:
# ▲ 출력값이 a가 나오는 이유는 vartest()라는 함수에 속한 a는 그 함수 안에서만 사용하므로 
# print 결과값에는 영향을 미치지 못한다.

In [34]:
print(vartest(a))

2

# insert 함수

In [42]:
list1 = []

list1.insert(0,0)
list1.insert(5,5)
list1.insert(3,3)
list1.insert(1,1)


print(list1)

[0, 1, 5, 3]